.data0 {
    -fx-bar-fill: #FF6347;
    -fx-fill-width: 5px/* Tomato color */
}

.data1 {
    -fx-bar-fill: #4682B4; /* Steel Blue color */
}
.data2 {
    -fx-bar-fill: #32CD32; /* Lime Green color */
}
.chart-plot-background {
    -fx-background-color: transparent; /* Optional: Make background transparent */
}

.axis .tick-mark {
    -fx-stroke: none; /* Hides tick marks */
}

.axis .axis-line {
    -fx-stroke: none; /* Hides axis lines (optional) */
}

.axis .chart-grid-lines {
    -fx-stroke: none; /* Hides grid lines */
}
.tick-label {
    -fx-fill: white;        /* Change the font color (optional) */
    -fx-font-size: 14px;    /* Change the font size */
    -fx-font-weight: bold; /* Change the font weight (bold, normal, etc.) */
}

#dateButton ,#refrechButton{
    -fx-background-color: #10165F ;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}
#dateButton:hover ,#refrechButton:hover{
    -fx-background-color: #1620A1 ;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
#date{
    -fx-background-color:#10165F ;
}

#ActionButton{
    -fx-border-color:  #2A73FF;
    -fx-border-radius : 30;
    -fx-background-color : transparent;
    -fx-font-weight: 500;
    -fx-text-fill: white;
}
#ActionButton:hover{
    -fx-background-color : #2A73FF;
}

#itemC{
    -fx-background-color: #02030A;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
}
#itemC:hover{
    -fx-background-color : #0A0E3F;
}

.scroll-pane {
    -fx-background-color: #02030A;
}


/*
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}
*/

/*
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}*/
