.data0 {
    -fx-bar-fill: #47ffce;
    -fx-fill-width: 5px/* Tomato color */
}

.data1 {
    -fx-bar-fill: #4682B4; /* Steel Blue color */
}
.data2 {
    -fx-bar-fill: #47cd32; /* Lime Green color */
}