.login_container{
    /*
    -fx-background-color: #0e154a;
    */
    -fx-background-color: #fdfcfc;
}



.login_image_container{
    -fx-alignment: center-right;
    -fx-background-color: #0e154a;
    /*
    -fx-background-color: #2262C6;
    */
    -fx-background-radius: 20px;
    /*
    -fx-background-color: white;
    */
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.3), 10, 0, 0, 0);
}
.login_image{
    -fx-pref-width: 300;
    -fx-pref-height: 300;
}

.login_form_container{
    -fx-alignment: center-left;
    -fx-spacing: 20;

}
.login_form_input_fields{
    -fx-pref-height: 40;
    -fx-font-size: 1.2em;
    -fx-font-color : white;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;  /* Only the bottom border */
    -fx-border-color: gray;       /* Set the color for the bottom border */
    -fx-background-color: transparent; /* Remove background color if needed */
}
.login_form_input_fields:focused{
    -fx-border-width: 0 0 2px 0;  /* Only the bottom border */
    -fx-border-color: #c3bebe;
    -fx-font-weight: bold;
}

.login_form_button{
    -fx-pref-width: 90;
    -fx-pref-height: 37;
    -fx-background-color: #72C63A;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-font-family: Calibri;
    -fx-text-fill: #ffff;
    -fx-cursor: hand;
    -fx-background-radius: 5px;
    -fx-border-color: #467C40;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}


.login_form_button:hover{
    -fx-background-color: transparent;
    -fx-text-fill: #2262C6;
}

.login_form_label{

    -fx-fill: #72C63A;
    -fx-font-size: 40;
    -fx-font-weight: bold;

}

.login_container .icon{
    -fx-fill:#2262C6;
}

.line{
    -fx-stroke:#2262C6 ;
}


.underlogotext{
    -fx-text-fill:  #242254;
    -fx-wrap-text : true ;
    -fx-font-family: Calibri;
    -fx-font-size: 16;
}