

.button:hover{
-fx-background-color : #2262C6;
}
.button:pressed
{
-fx-background-color : #2262C6;
}
/* VBox container style */
VBox {
    -fx-background-color: #2262C6; /* Background color */
    -fx-padding: 20px; /* Padding around the VBox */
    -fx-spacing: 15px; /* Spacing between child elements */
}

/* ImageView style */
ImageView {
    -fx-fit-height: 33px;
    -fx-fit-width: 37px;
    -fx-preserve-ratio: true;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.0, 2, 2); /* Shadow effect for image */
}

/* Label style */


Button {
    -fx-background-color: #2262C6; /* Button background color */
    -fx-text-fill: #ffffff; /* Text color */
    -fx-font-size: 16px; /* Font size */
    -fx-font-weight: bold; /* Bold font */
    -fx-border-radius: 20px; /* Rounded corners */
    -fx-cursor: hand; /* Hand cursor on hover */
}
/* Button Style */

/*

.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}
.displayBox {
    -fx-background-color: #c3bebe;
}
*/
