.button
{
-fx-background-color : #0048ff;
-fx-text-fill : #e7e5e5;
}

.button:hover{
-fx-background-color : #0077ff;
}
.button:pressed
{
-fx-background-color : #0077ff;
}
/* VBox container style */


/* ImageView style */
ImageView {
    -fx-fit-height: 33px;
    -fx-fit-width: 37px;
    -fx-preserve-ratio: true;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.0, 2, 2); /* Shadow effect for image */
}

/* Label style */
Label {
    -fx-text-fill: #070805; /* Text color */
    -fx-font-size: 18px; /* Font size */
    -fx-font-weight: bold; /* Bold font weight */
    -fx-alignment: CENTER; /* Centered text */
    -fx-padding: 10px; /* Padding around the label */
}
Button {
    -fx-background-color : #0048ff;
    -fx-text-fill : #e7e5e5;
        -fx-font-size: 16px; /* Font size */
    -fx-font-weight: bold; /* Bold font */
    -fx-border-radius: 20px; /* Rounded corners */
    -fx-cursor: hand; /* Hand cursor on hover */
}
/*POPUP*/
/* style.css */
.displayBox {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
}

.textContainer {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-max-width: 500px; /* Adjust the width as needed */
    -fx-max-height: 200px; /* Adjust the height as needed */
}

.messageTextFlow {
    -fx-padding: 10px;
}
.styledComboBox {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
    -fx-border-color: #2A73FF;
    -fx-border-width: 2px;
    -fx-padding: 5px;
}

.styledComboBox .list-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #2A73FF;
}

.styledComboBox .list-cell:hover {
    -fx-background-color: #2A73FF;
    -fx-text-fill: #ffffff;
}

.styledComboBox .combo-box-popup {
    -fx-background-color: #ffffff;
    -fx-border-color: #2A73FF;
    -fx-border-width: 2px;
}



